.main{
    height: 100vh;
    width : 100vw;
    position: absolute;
    top: 0px;
    margin-left: 60px;
}

.test{
    color:white;
}

.test:hover {
    text-decoration: underline;
    color: crimson;
}

.testing{
    color:blue;
}

.testing:hover{
    color:red;
}

@media screen and (max-width:576px){
    .main{
        margin-top: 100px;
    }
}